@import "General.css";

.cont{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 120% 20%;
    overflow: scroll;
} 
.HomeContent{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 30% 30% 40%;
}
    .gest{
        height: 100%;
        width: 100%;
        position: relative;
    }
        .gest img{
            width: 100%;
            background-size: cover;
            background-position: center center;
            position: absolute;
            transform: translateY(-35%);
        }
        .intHome{
            position: absolute;
            top: 20%;
            left: 100px;
            background-color: white;
            padding: 10px;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
        }
        .intHome .btn{
            width: 250px;
            margin-top: 15px;
        }
    .comments{
        display: grid;
        grid-template-rows: ;
    }
    .comm{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
        
    .comm div{
        display: flex;
        align-items: center;
}
        .Ltitle{
            font-size: 1.2em;
            font-weight: bolder;
            margin-left: 100px;
            align-self: start;
        }
    .newsSection{
        height: 100%;
        width: 100%;
    }
        .newsMark{
            font-size: 1.2em;
            font-weight: bold;
            margin-left: 100px;
            margin-top: 10px;
        }
        .newsContent{
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
.gestion{
    width: 100%;
    height: 100%;
}
.noticias{
    width: 100%;
    height: 100%;
}
.opiniones{
    width: 100%;
    height: 100%;
}