@import "General.css";

.cont{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 30% 20% 20% 20%;
}
.LoginContent{
    grid-row: 2 / 5;
    display: grid;
    grid-template-rows: 50% 50%;
    background-color: aqua;
}