@import "General.css";

.LoginBody{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 30% 20% 20% 20%;
}
.LoginContent{
    grid-row: 2 / 5;
    background-color: #999999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.LoginContent span{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}
.Loginform{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.Loginbtn{
    height: 30px;
    width: 80px;
}
.logInLink:hover{
    color: white;
    opacity: 0.7;
    text-decoration: underline;
}
.imp1{
    margin: 10px;
    margin-top: 20px;
}
.imp2{
    margin: 10px;
}