@import "General.css";
.Orders{
    list-style: none;
    display: grid;
    grid-template-columns: 10% 20% 15% 20% 15% 20%;
    justify-items: center;
    align-items: center;
    padding: 0;
    margin-top: 15px;
}
.btnOrder{
    width: 70px;
    height: 30px;
    /* height: 35px; */
    margin: 0 5px;
    background-color: #666666;
}
.btnGroup{
    display: flex;
}