@import "General.css";

.OrderData2Cont{
    width: 100%;
    height: 95%;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}
.measures{
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
}
.measures input{
    width: 100%;
}
.measures div{
    width: 70%;
}

